.DS_Store
/lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/artifacts/
/lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/mlruns/
/lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/wandb/
/lesson-3-data-validation/exercises/exercise_8/starter/.pytest_cache/
/lesson-3-data-validation/exercises/exercise_8/starter/artifacts/
/lesson-3-data-validation/exercises/exercise_8/starter/mlruns/
/lesson-3-data-validation/exercises/exercise_8/starter/wandb/
/lesson-3-data-validation/exercises/exercise_9/starter/.pytest_cache/
/lesson-3-data-validation/exercises/exercise_9/starter/artifacts/
/lesson-3-data-validation/exercises/exercise_9/starter/mlruns/
/lesson-3-data-validation/exercises/exercise_9/starter/wandb/
/lesson-4-training-validation-experiment-tracking/exercises/exercise_10/starter/mlruns/
/lesson-4-training-validation-experiment-tracking/exercises/exercise_10/starter/outputs/
/lesson-4-training-validation-experiment-tracking/exercises/exercise_10/starter/random_forest/artifacts/
/lesson-4-training-validation-experiment-tracking/exercises/exercise_10/starter/random_forest/wandb/
/lesson-3-data-validation/exercises/exercise_7/starter/artifacts/
/lesson-3-data-validation/exercises/exercise_7/starter/mlruns/
/lesson-3-data-validation/exercises/exercise_7/starter/wandb/
