.DS_Store
/lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/artifacts/
/lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/mlruns/
/lesson-2-data-exploration-and-preparation/exercises/exercise_6/starter/wandb/
